<section class="vh-100" style="background: url('https://img.freepik.com/premium-photo/abstract-background-images-wallpaper-ai-generated_643360-8554.jpg'); background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center" style="background: linear-gradient(to bottom left, #0088ff, #00f2ff, #1500ff);">
            <h3 class="card-title text-center mb-0">Track Ticket Status</h3>

            <div class="form-inline d-flex align-items-end flex-row">
              <button class="btn btn-outline-secondary" id="back-button" (click)="goToTicketOptionsPage()">Back</button>
            </div>
         
          </div>
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">TicketId</th>
                  <th scope="col">IssueType</th>
                  <th scope="col">Description</th>
                 
                  <th scope="col">Ticket Status</th>
                  <th scope="col">Assigned To</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ticket of tickArray">
                   <td>{{ ticket.ticketId }}</td> 
                  <td>{{ ticket.issueType }}</td>
                  <td>{{ ticket.description }}</td>
                  <td>
                    {{ ticket.status }}
                  </td>
                  <td>{{ ticket.assignedTo }}</td>
                </tr>
              </tbody>
             
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>

